* {
    font-family: '微软雅黑';
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #000000;
    opacity: 0.5;
}

.js-canvas {
    position: absolute;
    display: none;
    z-index: 1;
    background-color:white;

}

.bg-canvas {
    position: absolute;
    display: none;
    z-index: -1;
    background-color:transparent;

}